:root {
  --link-text-color: #f8faf8;
  --white-color: #ffffff;
  --btn-text-color: #4caf50;
  --black-color: #1a1a1a;
  --bg-color-primary: #f2f2ff;
  --bg-color-secondary: #4caf50;
  --text-color: #333333;
  --border-color: #cccccc;
  --shadow-color: rgba(0, 0, 0, 0.1);
  --link-color: #007bff;
  --link-hover-color: #0056b3;
  --button-bg-color: #4caf50;
  --button-hover-bg-color: #388e3c;
  --text-hover-color: #4c7752;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: 1.2;
  background-color: var(--bg-color-primary);
  color: var(--text-color);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow-y: auto; /* Permitir desplazamiento vertical */
}

header,
footer {
  background-color: var(--bg-color-secondary);
  color: var(--white-color);
  text-align: center;
  padding: 1rem;
  box-shadow: 0 2px 5px var(--shadow-color);
}

header nav a,
footer a {
  color: var(--link-text-color);
  text-decoration: none;
  margin: 0 1rem;
  font-weight: bold;
}

header nav a:hover,
footer a:hover {
  text-decoration: underline;
}

main {
  flex: 1;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0rem;
  overflow-y: auto; /* Permitir desplazamiento vertical dentro de main */
}

/* primera letra en mayuscula */
body > main > ul > li > a {
  text-transform: capitalize;
}
section {
  margin: 1rem 0;
  padding: 5rem;
  border: 1px solid var(--border-color);
  border-radius: 5px;
  background-color: #fff;
}

section h2 {
  margin-top: 0;
}

section p {
  margin: 0.5rem 2rem;
}

section ul,
section ol {
  padding-left: 20px;
}

h1,
h2,
h3,
p {
  font-family: 'Arial', sans-serif;
  color: var(--text-color);
}

a {
  text-decoration: none;
  padding: 0.5rem 1rem;
  transition: color 0.3s;
}

a:hover {
  color: var(--text-hover-color);
}

#images-container img {
  display: block;
  margin: 10px auto;
  max-width: 100%;
  border: 1px solid var(--border-color);
  border-radius: 5px;
  box-shadow: 0 2px 5px var(--shadow-color);
}

#pdfs-container a {
  display: block;
  margin: 5px 0;
  color: var(--link-color);
}

#pdfs-container a:hover {
  color: var(--link-hover-color);
  text-decoration: underline;
}

#image-viewer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

#image-viewer img {
  max-width: 90%;
  max-height: 90%;
  border: 2px solid var(--white-color);
  border-radius: 5px;
}

#image-viewer.hidden {
  display: none;
}

#close-viewer {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 2rem;
  color: var(--white-color);
  cursor: pointer;
}

button {
  padding: 0.5rem 1rem;
  background-color: var(--button-bg-color);
  color: var(--white-color);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s, transform 0.2s;
}

button:hover {
  background-color: var(--button-hover-bg-color);
  transform: scale(1.05);
}

ul,
ol {
  margin: 1rem 0;
  padding: 0;
  list-style: none;
}

li {
  margin: 0.5rem 0;
}

@media (max-width: 480px) {
  body {
    padding: 0;
    margin: 0;
    font-size: 2.5rem; /* Tamaño de fuente más generoso */
    background-color: var(--bg-color-primary);
    color: var(--text-color);
    min-height: 100vh;
    overflow-y: auto; /* Asegurar desplazamiento en móviles */
  }

  section {
    width: 100%;
    padding: 0;
    margin: 0;
    border: none;
    border-radius: 0;
    background-color: transparent;
    box-shadow: none;
  }
  header,
  footer {
    font-size: 1.2rem; /* Aumentar tamaño de fuente en header y footer */
  }

  main {
    padding: 0.5rem;
    font-size: 1.5rem; /* Aumentar tamaño de fuente en el contenido principal */
    overflow-y: auto; /* Asegurar desplazamiento en el contenedor principal */
  }

  a {
    font-size: 2.2rem; /* Aumentar tamaño de fuente en enlaces */
    padding: 0.5rem 1rem; /* Ajustar padding para mayor comodidad */
  }

  button {
    font-size: 1.2rem; /* Aumentar tamaño de fuente en botones */
    padding: 0.6rem 1rem; /* Ajustar padding para mayor comodidad */
  }

  h1,
  h2,
  h3 {
    font-size: 2.5rem; /* Aumentar tamaño de encabezados */
  }

  p {
    font-size: 1.8rem; /* Aumentar tamaño de párrafos */
  }
}

@media (min-width: 481px) and (max-width: 768px) {
  body {
    padding: 0;
    margin: 0;
    font-size: 2rem;
    background-color: var(--bg-color-primary);
    color: var(--text-color);
    min-height: 100vh;
    overflow-y: auto; /* Asegurar desplazamiento en tabletas */
  }

  header,
  footer {
    font-size: 1rem;
    padding: 0.5rem;
    background-color: var(--bg-color-secondary);
    color: var(--white-color);
    text-align: center;
    box-shadow: 0 2px 5px var(--shadow-color);
  }

  main {
    padding: 0.5rem;
    gap: 0rem;
    overflow-y: auto; /* Asegurar desplazamiento en el contenedor principal */
  }

  a {
    font-size: 1rem;
    padding: 0.5rem 1rem;
  }

  button {
    font-size: 1rem;
    padding: 0.5rem 1rem;
  }
}

@media (min-width: 769px) and (max-width: 1200px) {
  body {
    padding: 2rem;
  }

  header,
  footer {
    font-size: 1.2rem;
  }

  main {
    padding: 1.5rem;
  }

  a {
    font-size: 1.1rem;
    padding: 0.6rem 1.2rem;
  }

  button {
    font-size: 1.1rem;
    padding: 0.6rem 1.2rem;
  }
}

@media (min-width: 1201px) {
  body {
    padding: 3rem;
  }

  header,
  footer {
    font-size: 1.5rem;
  }

  main {
    padding: 2rem;
  }

  a {
    font-size: 1.3rem;
    padding: 0.8rem 1.5rem;
  }

  button {
    font-size: 1.3rem;
    padding: 0.8rem 1.5rem;
  }
}
